#wrapped {
    margin: 10px;
}

.sct-task {
    background-color: limegreen;
    padding: 5px;
    border: 1px solid saddlebrown;
}


.dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 120px;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
}

.inner-content {
    background-color: yellowgreen;
    padding: 10px;
}

.user-title, .user-comment {
    border: saddlebrown solid 1px;
    background-color: whitesmoke;
    padding: 5px;
}

.forms {
    display: flex;
    justify-content: space-around;
}

fieldset {
    background-color: #eeeeee;
}

legend {
    background-color: gray;
    color: white;
}

#user-data, #location {
    padding: 20px;
}

table, th, td {
    background-color: gray;
    color: #eeeeee;
}

.new-table {
    margin: 15px;

}

#myCarousel {
    margin: 0 auto;
    width: 50%
}

.carousel-inner {
    display: flex;

}

.control {
    display: flex;
    justify-content: space-between;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid saddlebrown;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-right: 30px solid saddlebrown;
}

#filter {
    margin: 10px;
}