#wrapped {
    margin: 10px;
}
.sct-task {
    background-color: limegreen;
    padding: 5px;
    border:  1px solid saddlebrown;
}

.dropdown{

}

.dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 120px;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
}

/*.dropdown-content a:hover {*/
/*    background-color: grey;*/
/*    color: whitesmoke;*/
/*}*/